h1 {
        font-size:40px;
        background-image: linear-gradient(to right, #FF0000, #ffa500, #ffe603, #3eff2d, #23bdff, #a965ff, #ff00e5);
       color: transparent;
        -webkit-background-clip: text;
        display: inline-block;
        margin-bottom: 2rem;
        font-family: georgia;}

h2{
    font-size:40px;
        background-image: linear-gradient(to right, #FF0000, #ffa500, #ffe603, #3eff2d, #23bdff, #a965ff, #ff00e5);
       color: transparent;
        -webkit-background-clip: text;
        display: inline-block;
        margin-bottom: 2rem;
        font-family: georgia;}

h3{
    font-size: 35px;
    color:#FF0000;
    font-family:georgia;}




body{
    background-color: #272727;
    align-items: center;
    text-align: center;
        padding-left:auto;
        padding-right:auto;
        padding-bottom:50px;}

p{
        font-size: 24px;
        color: #ffffff;
        font-family: georgia;}

a{
    font-size: 24px;
        color: #ffffff;
        font-family: georgia;}

footer{
        font-size:10px;
        color:#ffffff;
        font-family:georgia;}

